body{
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #EAEAEA;
}

h1{
    margin: 0;
    padding-top: 1em;
    font-family: "Kaushan Script";
    font-size: 3em;
}

.btn, .clear{
    border-radius: 0.2rem;
    font-family: "Poppins";
    border: 1px solid #F7A4A4;
}

.btn:hover, .clear:hover {
    background-color:#F7A4A4;
}

.clear{
    margin-right: 24em;
    margin-top: 3.5em;
}

.btn{
    margin-right: 0.5em;
}


.row{
    height: 100%;
    display: flex;
}

.column{
    width: 100%;
}

.color{
    background-color: #F7A4A4;
}

.container{
    width: 60vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    border: 2px solid #F7A4A4;
}
